


.row {
    background-color: #CDA5F3;
    text-align: center;
    border-radius: 5px;
    border-style: groove;
    border-color: black;
    border-width: 2px;
       
}

[class*="col-"]{
    border-style: groove;
    border-color: black;
    border-radius: 5px;
    border-width: 2px;
    
}

.col {
    border-style: groove;
    border-color: black;
    border-radius: 5px;
    border-width: 2px;
}